# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/

# Serverless directories
.serverless
node_modules/
.pytest_cache/
secrets_prod.json
.ipynb_checkpoints/


linggo_library/scripts/log.tsv
linggo_library/scripts/query_log.py
linggo_library/scripts/log_histogram.png
linggo_library/static_files/opensymbol_images
secrets_dev.json
secrets_prod.json

nltk_data/

api/third_party/layers/tools/python/
research/